@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*,::before,::after{margin: 0;padding: 0;box-sizing: border-box;}


html,body,header{/* scroll-behavior: smooth;overflow-x: hidden; */font-family: 'Roboto', sans-serif;}

.comming_soon{background: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)),url("../images/cloud.jpg") no-repeat center center;background-size: cover;width: 100%;min-height: 100vh;padding-top:50px;}

.comming_soon .col-lg-8{display: flex;justify-content: center;align-items: flex-end;min-height: 100vh;}
.comming_soon_content{text-align: center;margin-bottom: 100px;}
.comming_soon_content h2{text-transform: uppercase;font-weight:600;color: #3176B4;margin: 40px 0px 25px 0px;font-weight: 900;}
.comming_soon_content p{line-height: 150%;}
.comming_soon_content h4{text-transform: uppercase;font-weight: 900;color: #3176B4;margin-bottom: 40px;font-size: 20px;}
.comming_soon_content a.comsgnup{padding: 10px 30px;border: 2px solid #3176B4;background: #3176B4;text-transform: uppercase;text-decoration: none;color: #fff;border-radius: 5px;font-weight: 600;margin-right: 10px;min-height:46px; display:inline-block;}
.modal_btn{border: 1px solid #3176B4;color: #3176B4;padding: 10px 30px;background-color: transparent;margin-left: 10px;text-transform: uppercase;font-weight: 600;}
.modal_btn:hover{background-color: #3176B4;color: #fff;}
.modal-body{position: relative;}
.modal-body button{position: absolute;top: 5%;right: 5%;z-index: 10;}
.modal video{width:100% !important}
.modal .modal-dialog{height:100vh;display:grid;place-content:center}
.modal .modal-content{width:1000px}

.modal_btn2{border: 1px solid #3176B4 !important;color: #3176B4 !important;padding: 10px 30px !important;background-color: transparent !important;margin-left: 10px !important;text-transform: uppercase !important;font-weight: 600 !important;}
.modal_btn2:hover{background-color: #3176B4 !important;color: #fff !important;}



.populrserch {
  margin: 50px 0px;
}

.populrserch h3{
	text-transform:uppercase;
	font-weight:600;
}
.populrserch p{color:rgba(0,0,0,0.6);margin-bottom:40px;line-height:180%;}
.populrserch h4 {
  padding-bottom: 20px;
  color: #154E68;
  font-weight: 600;
  font-size: 20px;
}

.populrbx {
  /* border: 1px solid #ccc; */
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  display: inline-block;
  position: relative;
  margin-bottom:15px;
  box-shadow: 6px 6px 22px rgba(0,0,0,.1);
}

.popuimg {
  width: 22%;
  height: auto;
  float: left;
  text-align: center;
  margin-right:3px;
}

.popuimg img {
  width: 30px;
}

.poputxt {
  width: 75%;
  height: auto;
  float: left;
}

.poputxt h5 {
  font-size: 12px;
  font-weight: 600;
  padding: 8px 0;
  color: #54545e;
}

.populrbx i {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #3176B4;
  color: #fff;
  bottom: 0;
  right: 0;
  border-radius: 0 0 5px 0;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
}



@media (min-width: 768px) and (max-width: 991px) {
  .comming_soon .col-lg-8{display: flex;justify-content: center;align-items: center;height: 100vh;}
}

@media (max-width: 767px) {
  .comming_soon_content h4{font-size: 18px;}
  .button{display: flex;justify-content: center;}
  .button a,.button button{padding: 10px 15px;font-size: 14px;}
}


@media (min-width: 320px) and (max-width: 480px) {
  
}










